.header {
    height: 8vh;
    background-color: white;
    display: flex;
    align-items: center;
}
.header-logo {
    height: 80%;
    margin-left: 2%;
}
.header-text {
    display: flex;
    margin-left: 2%;
    gap: 30px;
    align-items: center;
}
.vai-logo {
    height: 60px;
}
.text {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    color: #1e2d5b;
}
.text-selected {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    color: #ff6200;
    display: inline-block;
    border-bottom: 2px solid #ff6200;
}