<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <img class="header-logo" src="../img/header-logo.webp" alt="logo">
            <div class="header-text">
                <h3><a class="text" href="../index.html">Home</a></h3>
                <h3><a class="text" href="../passagens.html">Passagens</a></h3>
                <h3><a class="text" href="../promocoes.html">Promoções</a></h3>
                <h3><a class="text" href="../combos.html">Combos</a></h3>
                <h3><a class="text" href="../hoteis.html">Hotéis</a></h3>
                <h3><a class="text" href="../contato.html">Contato</a></h3>
                <a class="vai-container" href="../vai.html">
                    <img class="vai-logo" src="../img/vai.webp" alt="VAI">
                    <img class="vai-selected" src="../img/vai-selected.webp" alt="VAI">
                </a>
                </div>
            </div>
        </header>
        <script src="../js/header.js"></script>
    </body>
</html>